.cover {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(240, 240, 240);
  position: relative;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  filter: brightness(40%);
}

.cover > h1 {
  font-size: 50px;
}

.cover > p {
  font-size: 23px;
}

.scrollDown{
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}

.scrollDown>a{
  text-decoration: none;
}

.scrollDown>a>svg{
  color: rgb(240, 240, 240);
  width: 2.5em;
  animation: move 1.5s linear infinite;
}

@keyframes move {
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(.5em);
  }

}
