html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  width: 100%;
  height: 8vh;
  background: #0d0d0d;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar > a {
  margin-right: auto;
  max-width: 30%;
  width: 100%;
  cursor: pointer;
  color: rgb(240, 240, 240);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar > section {
  max-width: 40%;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.navbar > section > a {
  cursor: pointer;
  color: rgb(240, 240, 240);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

#menu-checkbox {
  display: none;
}

.menu-icon {
  display: none;
}

.navbar > section > a:hover {
  color: rgb(168, 168, 168);
}

@media screen and (max-width: 800px) {
  .navbar {
    width: auto;
    position: fixed;
    top: auto;
    bottom: 30px;
    right: 30px;
    flex-direction: column;
    background: none;
    height: auto;
    align-items: flex-end;
  }

  .navbar > a {
    visibility: hidden;
    justify-content: flex-start;
    margin-right: 0;
    max-width: none;
    color: #0d0d0d;
    font-weight: bold;
    flex-direction: row-reverse;
    margin-bottom: -64px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    width: auto;
  }

  .navbar > a > div {
    margin-left: 10px;
    margin-bottom: 5px;
    border: 10px solid #0d0d0d;
    background: #0d0d0d;
    border-radius: 50%;
  }

  .navbar > section {
    flex-direction: column;
    max-width: none;
  }

  .navbar > section > a {
    color: #0d0d0d;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-weight: bold;
    margin-bottom: -64px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }

  .navbar > section > a:hover {
    color: #1d1d1d;
  }

  .navbar > section > a > div {
    margin-left: 10px;
    margin-bottom: 5px;
    border: 10px solid #0d0d0d;
    background: #0d0d0d;
    border-radius: 50%;
  }

  .navbar > label {
    z-index: 10;
  }

  .navbar > label > div {
    margin-left: 10px;
    border: 10px solid #0d0d0d;
    background: #0d0d0d;
    border-radius: 50%;
  }

  #show-menu-icon > svg {
    transition: all 0.3s ease-in;
  }

  .menu-icon {
    display: block;
    margin-left: 0;
    color: rgb(240, 240, 240);
  }

  /* ANIMACIONES CHECKED */
  #menu-checkbox:checked ~ section > a,
  #menu-checkbox:checked ~ a {
    visibility: visible;
    margin-bottom: 0;
    opacity: 1;
    height: auto;
  }

  #menu-checkbox:checked ~ label > div > svg {
    transform: rotate(135deg);
  }
}
