.projects-container {
  display: flex;
  height: 100vh;
  background: #c4c4c4;
  width: 100%;
  z-index: -3;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: hidden;
}

.projects-container > span {
  display: block;
  max-width: 100%;
  width: 100%;
  text-align: center;
}

.projects-container > span > h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 15px;
}

.projects-container > span > p {
  font-size: 20px;
}

.projects-container > section {
  max-width: 50%;
  display: flex;
  align-items: center;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  padding: 10px 0;
}

.projects-container > section::-webkit-scrollbar {
  height: 5px;
  background: transparent;
}

.projects-container > section::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.projects-container > section > a {
  flex: none;
  scroll-snap-align: center;
  margin: 0 10px;
  width: 166px;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  color: rgb(240, 240, 240);
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.projects-container > section > a > img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.projects-container > section > a > div {
  visibility: hidden;
  transition: all 0.3s ease-in;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.projects-container > section > a > div > h3 {
  position: relative;
  top: -50px;
  transition: all 0.3s ease-in;
}

.projects-container > section > a > div > p {
  position: relative;
  top: 100px;
  margin: 0 5px 5px;
  font-size: 15px;
  transition: all 0.3s ease-in;
}

.projects-container > section > a:hover > img {
  transform: scale(1.5);
  filter: brightness(40%);
}

.projects-container > section > a:hover > div {
  opacity: 1;
  visibility: visible;
}

.projects-container > section > a:hover > div > h3 {
  top: 0px;
}

.projects-container > section > a:hover > div > p {
  top: 0;
}

@keyframes animation2 {
  from {
    transform: translate(-100px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes animation3 {
  from {
    transform: translate(50px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .projects-container > span > h2 {
    font-size: 30px;
  }

  .projects-container > section {
    max-width: 90%;
    margin-top: 35px;
  }

  @media screen and (max-width: 500px) {
    .projects-container > section {
      max-width: 85%;
    }

    .projects-container > section > a {
      margin-bottom: 25px;
    }
  }
}
