.porjects-container {
  height: 100vh;
  background: #c4c4c4;
  width: 100%;
  z-index: -3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.porjects-container > span {
  max-width: 40%;
  width: 100%;
}

.porjects-container > span > h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 15px;
}

.porjects-container > span > p {
  font-size: 20px;
}

.porjects-container > section {
  display: flex;
  max-width: 40%;
  width: 100%;
  justify-content: space-evenly;
}

.porjects-container > section > a {
  width: 166px;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  color: rgb(240, 240, 240);
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.porjects-container > section > a > img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.porjects-container > section > a > div {
  visibility: hidden;
  transition: all 0.3s ease-in;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.porjects-container > section > a > div > h3 {
  position: relative;
  top: -50px;
  transition: all 0.3s ease-in;
}

.porjects-container > section > a > div > p {
  position: relative;
  top: 100px;
  margin: 0 5px 5px;
  font-size: 15px;
  transition: all 0.3s ease-in;
}

.porjects-container > section > a:hover > img {
  transform: scale(1.5);
  filter: brightness(40%);
}

.porjects-container > section > a:hover > div {
  opacity: 1;
  visibility: visible;
}

.porjects-container > section > a:hover > div > h3 {
  top: 0px;
}

.porjects-container > section > a:hover > div > p {
  top: 0;
}

@keyframes animation2 {
  from {
    transform: translate(-100px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes animation3 {
  from {
    transform: translate(50px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .porjects-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .porjects-container > span {
    max-width: 85%;
    margin-bottom: 15px;
  }

  .porjects-container > span > h2 {
    font-size: 30px;
  }

  .porjects-container > section {
    max-width: 85%;
    margin-top: 35px;
  }

  @media screen and (max-width: 500px) {
    .porjects-container > section {
      max-width: 60%;
      flex-direction: column;
      align-items: center;
    }

    .porjects-container > section > a {
      margin-bottom: 25px;
    }
  }
}
