.skills-container {
  height: 100vh;
  background: #f2f2f2;
  width: 100%;
  z-index: -3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100vh;
}

.skills-container > span {
  max-width: 40%;
  width: 100%;
}

.skills-container > span > h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 15px;
}

.skills-container > span > p {
  font-size: 20px;
}

.skills-container > section {
  display: flex;
  max-width: 40%;
  width: 100%;
}

.skills-container > section > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
}

.skills-container > section > ul > li {
  text-align: center;
  margin: 15px 15px;
}

.skills-container > section > ul > li:hover > img {
  transition: all 0.3s ease;
}

.skills-container > section > ul > li:hover > img {
  transform: rotate(360deg);
}

@keyframes animation4 {
  from {
    transform: translate(50px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .skills-container {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100vh;
  }

  .skills-container > section {
    margin-top: 45px;
  }

  .skills-container > span {
    max-width: 70%;
  }

  .skills-container > span > h2 {
    font-size: 30px;
  }

  .skills-container > span > p {
    text-align: center;
  }

  .skills-container > section {
    max-width: 70%;
  }
}
